<section>
  <div id='container'>

    <div class="profile-div">
      <!-- add info in from data object -->
      <img class="profile-image" src="/images/emilyrever.jpg" alt="image">
      <h3>Emily Rever</h3>
      <ul>
        <li><h4>FAC14</h4></li>
        <li><h4>GitHub</h4></li>
        <li><a href="https://github.com/EmilyScripts"><img class="github-icon" src="/images/github.png"></a>
        </li>
      </ul>
      <div class="textarea"><h4>bio:</h4></div>
    </div>

    <div class="profile-div">
      <!-- add info in from data object -->
      <img class="profile-image" src="/images/emilyrever.jpg" alt="image">
      <h3>Emily Rever</h3>
      <ul>
        <li><h4>FAC14</h4></li>
        <li><h4>GitHub</h4></li>
        <li><a href="https://github.com/EmilyScripts"><img class="github-icon" src="/images/github.png"></a>
        </li>
      </ul>

      <div class="textarea"><h4>bio:</h4></div>
    </div>

    <div class="profile-div">
      <!-- add info in from data object -->
      <img class="profile-image" src="/images/emilyrever.jpg" alt="image">
      <h3>Emily Rever</h3>
      <ul>
        <li><h4>FAC14</h4></li>
        <li><h4>GitHub</h4></li>
        <li><a href="https://github.com/EmilyScripts"><img class="github-icon" src="/images/github.png"></a>
        </li>
      </ul>
      <div class="textarea"><h4>bio:</h4></div>
    </div>

    <div class="profile-div">
      <!-- add info in from data object -->
      <img class="profile-image" src="/images/emilyrever.jpg" alt="image">
      <h3>Emily Rever</h3>
      <ul>
        <li><h4>FAC14</h4></li>
        <li><h4>GitHub</h4></li>
        <li><a href="https://github.com/EmilyScripts"><img class="github-icon" src="/images/github.png"></a>
        </li>
      </ul>
      <div class="textarea"><h4>bio:</h4></div>
    </div>

    <div class="profile-div">
      <!-- add info in from data object -->
      <img class="profile-image" src="/images/emilyrever.jpg" alt="image">
      <h3>Emily Rever</h3>
      <ul>
        <li><h4>FAC14</h4></li>
        <li><h4>GitHub</h4></li>
        <li><a href="https://github.com/EmilyScripts"><img class="github-icon" src="/images/github.png"></a>
        </li>
      </ul>
      <div class="textarea"><h4>bio:</h4></div>
    </div>

    <div class="profile-div">
      <!-- add info in from data object -->
      <img class="profile-image" src="/images/emilyrever.jpg" alt="image">
      <h3>Emily Rever</h3>
      <ul>
        <li><h4>FAC14</h4></li>
        <li><h4>GitHub</h4></li>
        <li><a href="https://github.com/EmilyScripts"><img class="github-icon" src="/images/github.png"></a>
        </li>
      </ul>
      <div class="textarea"><h4>bio:</h4></div>
    </div>

  </div>
</section>
