<section>
  <div id='container'>
    <div class="profile-div">
      <img class="profile-image" src="/images/emilyrever.jpg" alt="image">

      <h3>Emily Rever</h3>
      <ul>
        <li><h4>FAC14</h4></li>
        <li><h4>GitHub</h4></li>
        <li><a href="https://github.com/EmilyScripts"><img class="github-icon" src="/images/github.png"></a>
        </li>
      </ul>

      <textarea name="bio" cols="5" rows="5"></textarea>
    </div>

    <div class="profile-div">
      <img class="profile-image" src="/images/emilyrever.jpg" alt="image">

      <h3>Emily Rever</h3>
      <ul>
        <li><h4>FAC14</h4></li>
        <li><h4>GitHub</h4></li>
        <li><a href="https://github.com/EmilyScripts"><img class="github-icon" src="/images/github.png"></a>
        </li>
      </ul>

      <textarea name="bio" cols="5" rows="5"></textarea>
    </div>

    <div class="profile-div">
      <img class="profile-image" src="/images/emilyrever.jpg" alt="image">

      <h3>Emily Rever</h3>
      <ul>
        <li><h4>FAC14</h4></li>
        <li><h4>GitHub</h4></li>
        <li><a href="https://github.com/EmilyScripts"><img class="github-icon" src="/images/github.png"></a>
        </li>
      </ul>

      <textarea name="bio" cols="5" rows="5"></textarea>
    </div>

    <div class="profile-div">
      <img class="profile-image" src="/images/emilyrever.jpg" alt="image">

      <h3>Emily Rever</h3>
      <ul>
        <li><h4>FAC14</h4></li>
        <li><h4>GitHub</h4></li>
        <li><a href="https://github.com/EmilyScripts"><img class="github-icon" src="/images/github.png"></a>
        </li>
      </ul>

      <textarea name="bio" cols="5" rows="5"></textarea>
    </div>
    <div class="profile-div">
      <img class="profile-image" src="/images/emilyrever.jpg" alt="image">

      <h3>Emily Rever</h3>
      <ul>
        <li><h4>FAC14</h4></li>
        <li><h4>GitHub</h4></li>
        <li><a href="https://github.com/EmilyScripts"><img class="github-icon" src="/images/github.png"></a>
        </li>
      </ul>

      <textarea name="bio" cols="5" rows="5"></textarea>
    </div>
    <div class="profile-div">
      <img class="profile-image" src="/images/emilyrever.jpg" alt="image">

      <h3>Emily Rever</h3>
      <ul>
        <li><h4>FAC14</h4></li>
        <li><h4>GitHub</h4></li>
        <li><a href="https://github.com/EmilyScripts"><img class="github-icon" src="/images/github.png"></a>
        </li>
      </ul>

      <textarea name="bio" cols="5" rows="5"></textarea>
    </div>
  </div>
</section >
