<img src="/images/emilyrever.jpg" alt="image">
<h2>Emily Rever</h2>
<ul>
  <li>FAC14</li>
  <li>GitHub</li>
    <img href="https://github.com/EmilyScripts"><img src="/images/github.png"></a>
  </li>
</ul>
<textarea name="bio" cols="5" rows="5"></textarea>