
<section>
  <h1>Sign Up</h1>
  <form action="/signup" method="post">
    <label for="user">User</label>
    <input type="text" name="user">
    <label for="firstname">First Name</label>
    <input type="text" name="firstname">
    <label for="lastname">Last Name</label>
    <input type="text" name="lastname">
    <label for="password">Password</label>
    <input type="text" name="password">
    <label for="confirm-password">Confirm Password</label>
    <input type="text" name="confirm-password">
    <label for="github-handle">GitHub Handle</label>
    <input type="text" name="github-handle">
    <label for="bio">Bio</label>
    <textarea  name="bio"  rows="3" cols="3"></textarea>
    <button type="submit">Submit</button>
  </form>
</section>
