<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sign Up Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/form.css" />
</head>
<body>

<h1>Sign Up</h1>
<form action="/signup" method="post">
  <label for="user">User</label>
  <input type="text" name="user">
  <label for="firstname">First Name</label>
  <input type="text" name="firstname">
  <label for="lastname">Last Name</label>
  <input type="text" name="lastname">
  <label for="password">Password</label>
  <input type="text" name="password">
  <label for="confirm-password">Confirm Password</label>
  <input type="text" name="confirm-password">
  <label for="bio">Bio</label>
  <textarea  name="bio" cols="5" rows="5"></textarea>
  <label for="github-handle">GitHub Handle</label>
  <input type="text" name="github-handle">
  <button type="submit">Submit</button> 
</form>
</body>
</html>